@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
:root {
  --body-color: #d9afd9;
  --card-bg: #f0f2fa;
  --heading-color: rgb(210, 105, 30);
  --text-color: #2f3033;
  --change-icon: rgba(66, 3, 3, 0.9);
}

.dark {
  --body-color: #333233;
  --card-bg: #f0f2fa;
  --heading-color: rgb(238, 193, 161);
  --text-color: #b6b9c0;
  --change-icon: rgba(243, 200, 200, 0.9);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Fredoka", sans-serif;
}

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  /* background: #fafafa; */
  background-color: var(--body-color);
  color: var(--text-color);
}
.changeTheme {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* width: 70%; */
  margin-top: 1rem;
}
.changeTheme i {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: var(--change-icon);
}

header {
  margin-top: 3rem;
  padding-bottom: 1.8rem;
  font-size: 2rem;
  color: var(--heading-color);
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
} */
/* .addTasks {
  display: flex;
  justify-content: center;
  width: 100%;
} */

.addTasks form {
  padding: 1.5rem;
}
.addTasks form input {
  font-size: 1.3rem;
  padding: 0.5rem;
  width: 85%;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 1rem;
  text-align: center;
}
.addTasks form i {
  font-size: 1.5rem;
  /* margin-right: 0.5rem; */
  padding-left: 0.5rem;
}
.addTasks form i:hover {
  cursor: pointer;
  color: rgb(33, 39, 221);
}

.showTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.tasks {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  background-color: rgb(255, 246, 246, 0.3);
  width: 20rem;
  border-radius: 10px;
  text-align: start;
}
.task .actions {
  padding-left: 0.5rem;
}
.task .actions i {
  /* font-size: 1.5rem; */
  padding-left: 0.2rem;
}

.done {
  text-decoration: line-through;
  /* color: #ccc; */
  font-size: 0.8rem;
}

@media screen and (min-width: 600px) {
  .changeTheme {
    width: 70%;
  }

  .addTasks form input {
    width: 35%;
  }
}
